In [2]:
import pandas as pd
import numpy as np

In [7]:
hk_genes = pd.read_csv("./data/Housekeeping_GenesHuman.csv", delimiter=";")
hk_genes

,Ensembl,Gene.name,Refseq,CCDS.ID
0,ENST00000000233,ARF5,NM_001662,CCDS34745
1,ENST00000000412,M6PR,NM_002355,CCDS8598
2,ENST00000005257,RALA,NM_005402,CCDS5460
3,ENST00000005340,DVL2,NM_004422,CCDS11091
4,ENST00000006777,RHBDD2,NM_001346188; NM_001346189; NM_001040456,CCDS43602
...,...,...,...,...
2828,ENST00000607266,CUTA,NaN,CCDS4779
2829,ENST00000608424,WDR6,NM_018031,NaN
2830,ENST00000608443,FKBP8,NM_012181,CCDS32961
2831,ENST00000608872,FBXW2,NM_012164,CCDS43872
2832,ENST00000609024,CHMP4A,NM_014169,CCDS9619

In [10]:
ensembl_gtf = pd.read_csv("C:/Users/lucas/Desktop/Homo_sapiens.GRCh38.104.gtf", skiprows=[0, 1, 2, 3, 4], delimiter="\t", header=None)
ensembl_gtf

C:\Users\lucas\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1,2,3,4,5,6,7,8
0,1,ensembl_havana,gene,685679,686673,.,-,.,"gene_id ""ENSG00000284662""; gene_version ""1""; g..."
1,1,ensembl_havana,transcript,685679,686673,.,-,.,"gene_id ""ENSG00000284662""; gene_version ""1""; t..."
2,1,ensembl_havana,exon,685679,686673,.,-,.,"gene_id ""ENSG00000284662""; gene_version ""1""; t..."
3,1,ensembl_havana,CDS,685719,686654,.,-,0,"gene_id ""ENSG00000284662""; gene_version ""1""; t..."
4,1,ensembl_havana,start_codon,686652,686654,.,-,0,"gene_id ""ENSG00000284662""; gene_version ""1""; t..."
...,...,...,...,...,...,...,...,...,...
3146127,KI270713.1,ensembl,five_prime_utr,32373,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3146128,KI270713.1,ensembl,three_prime_utr,31698,31841,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3146129,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g..."
3146130,KI270713.1,ensembl,transcript,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."
3146131,KI270713.1,ensembl,exon,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."

In [13]:
ensembl_gtf.loc[0, 8].split("; ")

['gene_id "ENSG00000284662"',
 'gene_version "1"',
 'gene_name "OR4F16"',
 'gene_source "ensembl_havana"',
 'gene_biotype "protein_coding";']

In [14]:
foo = lambda x: pd.Series([i for i in reversed(x.split(','))])
rev = ensembl_gtf[8].apply(foo)
rev

                                                         0
0        gene_id "ENSG00000284662"; gene_version "1"; g...
1        gene_id "ENSG00000284662"; gene_version "1"; t...
2        gene_id "ENSG00000284662"; gene_version "1"; t...
3        gene_id "ENSG00000284662"; gene_version "1"; t...
4        gene_id "ENSG00000284662"; gene_version "1"; t...
...                                                    ...
3146127  gene_id "ENSG00000277475"; gene_version "1"; t...
3146128  gene_id "ENSG00000277475"; gene_version "1"; t...
3146129  gene_id "ENSG00000275405"; gene_version "1"; g...
3146130  gene_id "ENSG00000275405"; gene_version "1"; t...
3146131  gene_id "ENSG00000275405"; gene_version "1"; t...

[3146132 rows x 1 columns]